<div class="container d-flex justify-content-center">
    <div class="card p-5 mt-5">
        <form action="/admin/quiz" method="post" enctype="application/x-www-form-urlencoded">
            <div class="mb-3">
                <label for="exampleInputQuetion1" class="form-label">Question</label>
                <input type="Question" class="form-control" id="exampleInputQuestion1" aria-describedby="questionHelp" name="question">
            </div>
            <div class="mb-3">
                <label for="exampleInputAnswer1" class="form-label">Option1</label>
                <input type="Answer" class="form-control" id="exampleInputAnswer1" name="option1">
            </div>
            <div class="mb-3">
                <label for="exampleInputAnswer2" class="form-label">Option2</label>
                <input type="Answer" class="form-control" id="exampleInputAnswer2" name="option2">
            </div>
            <div class="mb-3">
                <label for="exampleInputAnswer3" class="form-label">Option3</label>
                <input type="Answer" class="form-control" id="exampleInputAnswer3" name="option3">
            </div>
            <div class="mb-3">
                <label for="exampleInputAnswer4" class="form-label">Option4</label>
                <input type="Answer" class="form-control" id="exampleInputAnswer4" name="option4">
            </div>
             <div class="mb-3">
                <label for="exampleInputAnswer5" class="form-label">Answer</label>
                <input type="Answer" class="form-control" id="exampleInputAnswer5" name="answer">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>